
.login-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  min-height: 100vh;        
  background-color: #f9f9f9;
  padding: 20px;
}




.login-header {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: #1E90FF;
  font-style: italic;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.login-form {
  max-width: 300px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.login-form h2 {
  text-align: center;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-form p {
  text-align: center;
  margin-top: 12px;
}

.login-form p button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
}

.login-form p button:hover {
  text-decoration: underline;
}
